<html>
    <head>

    </head>
    <body>
        <main>
            <h1>Activities</h1>
            <% activities.forEach((activity) => { %>
                <ul>
                    <li> <%= activity.name %> <%= activity.money %></li>
                </ul>
            <% }) %>
            <h2>Donate</h2>
            <form method="POST" action="/activities/donate">
                <input placeholder="your user name" type="text" name="userName">
                <input placeholder="your password" type="text" name="password">
                <select name="activityName">
                    <% activities.forEach((activity) => { %>
                        <option value=<%= activity.name %>> <%= activity.name %> </option>
                    <% }) %>
                </select>
                <input placeholder="amount of money" type="number" name="money">
                <button tyoe="submit">Donate</button>
            </form>
            <h2>Check user money</h2>
            <form method="POST" action="/users/check">
                <input placeholder="your user name" type="text" name="userName">
                <input placeholder="your password" type="text" name="password">
                <button tyoe="submit">Check</button>
            </form>
        </main>
    </body>
</html>